<div class="card text-white border border-dark">
  <div class="card-header bg-primary border border-dark">
    <img
      class="rounded float-left"
      src="https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/180px-Harvard_shield_wreath.svg.png"
      alt="logo"
    />
    <div class="card-body">
      <h1 class="card-title d-flex justify-content-center align-items-center">
        Homework Table
      </h1>
    </div>
  </div>
  <div class="card-body bg-info">
    <div class="row">
      <div class="col-md-6">
        <app-lessons-details
          [lessons]="lessons"
          (add)="onAdd($event)"
          (lessonClick)="handleLessonClicked($event)"
        >
        </app-lessons-details>
      </div>

      <div class="col-md-1 verticalLine"></div>

      <div class="col-md-4">
        <lessons-description
          (delete)="onDelete($event)"
          [oneLesson]="oneLesson"
          [lessonIndex]="lessonIndex"
        ></lessons-description>
      </div>
    </div>
  </div>
</div>
